.right_panel {
    justify-content: center;
}

.panel_close {
    position: absolute;
    top: 10px;
    left: 10px;

    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#form_display {
    max-height: 80%;
    overflow: auto;
}