.stat_item {
    text-align: center;
    margin-bottom: 40px;
}

.stat_item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #444;
}

.stat_number {
    font-size: 4rem;
    font-weight: bold;
    color: #0073e6;
    margin-top: 5px;
}

.chart {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
    height: 75%;
}

#statistics_chart {
    width: 45%;
}

.chart_description {
    width: 25%;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    display: block;
}

.chart_description .highlight_number {
    color: #0073e6;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline;
}

.stats_container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}