html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

article {
    padding: 1em;
}

/* 1c */
#loginform {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
}

/* footer */
body>footer {
    height: 100px;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
}

body footer a {
    color: rgb(112, 112, 112)
}


.template {
    display: none;
}

#side_navigation {
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
}

.main_content {
    max-height: 100%;
    padding: 20px;
    overflow: auto;
}

.layout {
    display: flex;
    height: 95%;
}

a {
    text-decoration: none !important;
}