html {
    height: 100%;
    box-sizing: border-box;
    /* Box-size on border for footer */
}

/* Inherit box-sizing for footer stay on bottom on small pages, and at the end of page at large pages */
/**,
*:before,
*:after {
    box-sizing: inherit;
}*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

article {
    padding: 1em;
}

/* 1c */
#loginform {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
}

#siteheader {
    height: 100px;
}

/* footer */
body>footer {
    height: 100px;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
}

body footer a {
    color: rgb(112, 112, 112)
}


.template {
    display: none;
}

#side_navigation {
    width: 240px;
    height: 100%;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    overflow: hidden;
}

.main_content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.layout {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 100px);
}

a {
    text-decoration: none !important;
}