.right_panel {
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
    padding: 15px;
    position: sticky;
    top: 0;
    overflow: hidden;
    position: relative;
}